body {
    color:teal;
    font-size: 1.25em;
    font-family: Cambria, serif;
    width: 90%;
    padding: 2em 4em 2em 4em;
    margin: auto

}
h1, h3 {
    color:midnightblue;
    background-color:linen;
    width: fit-content;
    font-style:italic
}
p strong {
    color:rebeccapurple;
    background-color:linen;
    font-weight: 800;
}
a:link{
    color:cornflowerblue
}
a:visited{
    color:lightgrey
}
a:hover{
    color:olivedrab
}
a:active{
    color:mediumvioletred
}
p.intro{
    color: mediumslateblue;
}
p.conclusion{
    color:dodgerblue
}
img#img001 {
    width: 10%;
    float: right;
}
img#img002 {
    width: 20%;
    float:right;
}
div.information {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
}
div.nav {
    text-align: center;
    font-size: 1.75em;
    border: 2px solid midnightblue;
    height: 100px;
    width: calc(30%);
    background-color: linen;
}
div.navbar {
    display: flex;
    justify-content: space-around;
}
div.foot {
    text-align: left;
    padding: .5em
}
div.footer {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
button {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
@media screen and (max-height: 26em) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
} 
@media screen and (max-width: 30em) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
   
}
